.question_container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.answer_container {
  margin: 30px 0;
  border: 1px solid gray;
  padding: 30px;
  border-radius: 15px;
}

.answer_title {
  margin: 10px 0;
}
