.product_container {
  display: flex;
  margin: 60px;
}

.product_description {
  flex: 2;
  padding-left: 80px;
  padding-top: 30px;
}

.product_name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product_detail {
  color: gray;
  margin-bottom: 15px;
}

.product_image {
  flex: 1;
}

.product_image img {
  width: 100%;
  border-radius: 10px;
}

/*

#####       #####
resposniveness 
####      #### 

*/

/* mobile  */

@media screen and (max-width: 769px) {
  .product_container {
    flex-direction: column;
  }
  .product_description {
    order: 2;
  }
  .product_image {
    order: 1;
  }
}
