.container {
  margin: 30px;
}

.review_title {
  text-align: center;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 30px;
}

.review_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 769px) {
  .card_container {
    grid-template-columns: 1fr;
  }
}
